<!DOCTYPE html>
<!--
    
   |\---/|
   | ,_, |
    \_`_/-..----.
 ___/ `   ' ,""+ \  sk
(__...'   __\    |`.___.';
  (_,...'(_,.`__)/'.....+
  
   !! FAERIEMACHINE.NEOCITIES.ORG !!
    
   Hi there! I see you're peaking at my website- no worries, I don't mind if you're wanting to see how I did something
   for reference! Just please don't copy-paste my stuff without at least *some* kind of modification/personalization to it...
    
-->
<html lang="en">

<head>
  {% include "basehead.njk" %}
  {% block head %}{% endblock %}
</head>

<body>
<div class="container">
  <a class="skip-to-nav-link" href="#navigation">
                skip to navigation
            </a>

            <button onclick="topFunction()" id="top" title="Go to top">Back to Top</button>
  <div class="header">
      <header>{% include 'header.njk' %}</header>
  </div>
  <div class="maincont">
    <div class="leftside">
      <aside>{% include 'sidebar.njk' %}</aside>
    </div>
    <div class=content>
       <main>
       {{ content | safe }}
       </main>
    </div>
    <div class="navigation">
       <nav>{% include 'navigation.njk' %}</nav>
    </div>
  </div>
  <div class="footer">
    <footer>{% include 'footer.njk' %}</footer>
  </div>
</div>
</body>
<script src="../../../js/scrobbles.js"></script>
<script src="../../../js/updated-visitors.js"></script>
<script src="../../../js/backtotop.js"></script>
<script src="../../../js/tabs.js"></script>