<head>
    <link rel="stylesheet" href="/css/index.css" />
</head>

<p><span class="subtitle">Fixated on</span>
  Thomas The Tank Engine, Club Penguin (Interests of a 5 year old over here)
</p>
<p><span class="subtitle">Watching</span>
   Thomas The Tank Engine (s20 + s5 rewatch), M*A*S*H (s4)
</p>
<p><span class="subtitle">Playing</span>
   Pokemon Go, Club Penguin Journey
</p>
<p><span class="subtitle">Working on:</span>
   Recoding the site from scratch (save me)
</p>
<p><span class="subtitle">Last watched:</span>
   Phantom of The Paradise (rewatch)
</p>
<p><span class="subtitle">Last read:</span>
   The Principles of Communism by Friedrich Engels
</p>
<p><span class="subtitle">Last listened:</span>
  Junglist Vampire - Fail, Modjo - Self-Titled, Critical Care - Novocain, Sophiaaaahjkl;8901 - Breakcore Burnout, BRAVE - JOYRYDE, No One's First, and You're Next - Modest Mouse
</p>
<hr>
<p class="date" style="text-align:center;">Last updated | 29/06/25</p>