<div id="fuck">
   <img class="logo" alt="FaerieMachine" src="../../../img/home/faeriemachine_logo.png">
</div>
<div class="marqueebox">
   <div class="headermarquee" data-direction="right" data-pause="true">
        <div class="headermarquee-items">
            <img id="button" src="../../../img/home/buttons/queercoded.png" alt="You're telling me a queer coded this">
            <img id="button" class="freeze" src="../../../img/home/buttons/nekkoscape.png" alt="Nekkoscape '98">
            <img id="button" class="freeze" src="../../../img/home/buttons/xp.png" alt="I miss XP!">
            <img id="button" class="freeze" src="../../../img/home/buttons/cocksuckingfaggot.png" alt="Cock sucking faggot">
            <img id="button" class="freeze" src="../../../img/home/buttons/toebeansnow.png" alt="Toebeans now!">
            <img id="button" src="../../../img/home/buttons/cat.png" alt="Best viewed with a cat">
            <img id="button" src="../../../img/home/buttons/holothere.png" alt="Holothere pride flag">
            <img id="button" src="../../../img/home/buttons/vscodium.png" alt="VSCodium">
            <img id="button" class="freeze" src="../../../img/home/buttons/pride.png" alt="Pride now!">
            <img id="button" src="../../../img/home/buttons/plurr.png" alt="PLURR">
            <img id="button" src="../../../img/home/buttons/endeavouros.jpg" alt="EndeavourOS">
            <img id="button" class="freeze" src="../../../img/home/buttons/iww.png" alt="International Workers of The World">
            <img id="button" src="../../../img/home/buttons/clubpenguin.png" alt="Club Penguin">
            <img id="button" src="../../../img/home/buttons/furry.png" alt="Furry">
            <img id="button" src="../../../img/home/buttons/Pendulum.gif" alt="Pendulum">
            <img id="button" class="freeze" src="../../../img/home/buttons/sparklefur.png" alt="Sparklefurs R Everywhere!">
            <a href="https://nekoweb.org/"><img id="button" src="https://nekoweb.org/assets/buttons/button10.png" alt="Nekoweb the net 4 cats"></a><!-- button by felixfever.nekoweb.org -->
            <img id="button" class="freeze" src="../../../img/home/buttons/riversea1.png" alt="From the river to the sea">
            <img id="button" class="freeze" src="../../../img/home/buttons/cssdif.png" alt="CSS is difficult">
            <img id="button" src="../../../img/home/buttons/webkinzworld.png" alt="Webkinz World">
            <img id="button" class="freeze" src="../../../img/home/buttons/diagnosedwithgay.png" alt="You were diagnosed with gay">
            <img id="button" class="freeze" src="../../../img/home/buttons/iheartweed.png" alt="I heart weed">
            <img id="button" src="../../../img/home/buttons/furby.jpg" alt="Furby">
            <img id="button" src="../../../img/home/buttons/transrights.png" alt="Trans rights now!">
            <img id="button" class="freeze" src="../../../img/home/buttons/acab.png" alt="ACAB">
            <img id="button" src="../../../img/home/buttons/pirate.png" alt="Pirate everything">
            <img id="button" src="../../../img/home/buttons/kde.gif" alt="KDE">
            <img id="button" src="../../../img/home/buttons/autismacceptnow.jpg" alt="Autism acceptance now!">
            <img id="button" src="../../../img/home/buttons/believeinfriendship.png" alt="Believe in the power of friendship">
            <img id="button" class="freeze" src="../../../img/home/buttons/happyhardcore.png" alt="Happy hardcore explorer">
            <img id="button" src="../../../img/home/buttons/Breakbeat.gif" alt="Breakbeat Khaos">
            <img id="button" class="freeze" src="../../../img/home/buttons/sylveon.png" alt="Sylveon">
            <img id="button" class="freeze" src="../../../img/home/buttons/thiswebsitesucks.png" alt="This website sucks">
            <img id="button" src="../../../img/home/buttons/squarespace.png" alt="I hate SquareSpace">
            <img id="button" class="freeze" src="../../../img/home/buttons/htmlnow.png" alt="HTML now!">
            <img id="button" src="../../../img/home/buttons/mspaint.jpg" alt="MS Paint">
            <img id="button" class="freeze" src="../../../img/home/buttons/dontfeedtheai.png" alt="Don't feed the AI!">
            <img id="button" src="../../../img/home/buttons/graphicdesign.gif" alt="Graphic design is my passion">
      </div>
   </div>
</div>