<div id="fuck">
   <img class="logo" alt="FaerieMachine" src="../img/home/faeriemachine_logo.png">
</div>
<p class="marquee alt" id="buttons-marquee">
                    <img class="button" src="../img/home/buttons/queercoded.png" alt="You're telling me a queer coded this">
                    <img class="button" src="../img/home/buttons/nekkoscape.gif" alt="Nekkoscape '98">
                    <img class="button" src="../img/home/buttons/xp.gif" alt="I miss XP!">
                    <img class="button" src="../img/home/buttons/cocksuckingfaggot.gif" alt="Cock sucking faggot">
                    <img class="button" src="../img/home/buttons/toebeansnow.gif" alt="Toebeans now!">
                    <img class="button" src="../img/home/buttons/cat.png" alt="Best viewed with a cat">
                    <img class="button" src="../img/home/buttons/vscodium.png" alt="VSCodium">
                    <img class="button" src="../img/home/buttons/pride.gif" alt="Pride now!">
                    <img class="button" src="../img/home/buttons/plurr.png" alt="PLURR">
                    <img class="button" src="../img/home/buttons/iww.gif" alt="International Workers of The World">
                    <img class="button" src="../img/home/buttons/clubpenguin.png" alt="Club Penguin">
                    <img class="button" src="../img/home/buttons/furry.png" alt="Furry">
                    <a href="https://nekoweb.org/"><img src="https://nekoweb.org/assets/buttons/button10.png"></a><!-- button by felixfever.nekoweb.org -->
                    <img class="button" src="../img/home/buttons/riversea1.gif" alt="From the river to the sea">
                    <img class="button" src="../img/home/buttons/cssdif.gif" alt="CSS is difficult">
                    <img class="button" src="../img/home/buttons/iheartweed.gif" alt="I heart weed">
                    <img class="button" src="../img/home/buttons/furby.jpg" alt="Furby">
                    <img class="button" src="../img/home/buttons/transrights.png" alt="Trans rights now!">
                    <img class="button" src="../img/home/buttons/pirate.png" alt="Pirate everything">
                    <img class="button" src="../img/home/buttons/autismacceptnow.jpg" alt="Autism acceptance now!">
                    <img class="button" src="../img/home/buttons/believeinfriendship.png" alt="Believe in the power of friendship">
                    <img class="button" src="../img/home/buttons/HappyHardcore.gif" alt="Happy hardcore explorer">
                    <img class="button" src="../img/home/buttons/sylveon.gif" alt="Sylveon">
                    <img class="button" src="../img/home/buttons/thiswebsitesucks.gif" alt="This website sucks">
                    <img class="button" src="../img/home/buttons/squarespace.png" alt="I hate SquareSpace">
                    <img class="button" src="../img/home/buttons/htmlnow.gif" alt="HTML now!">
                    <img class="button" src="../img/home/buttons/mspaint.jpg" alt="MS Paint">
                    <img class="button" src="../img/home/buttons/dontfeedtheai.gif" alt="Don't feed the AI!">
                    <img class="button" src="../img/home/buttons/graphicdesign.gif" alt="Graphic design is my passion">
</p>