<h1> Settings</h1>
    <div class="box">
    <p>
                            <button class="toggleon" id="giftoggle" onclick="freezegifs()">Pause gifs</button>
                            <button class="toggleoff" id="giftoggle" onclick="resumegifs()">Play gifs</button>
                        </p>
                            <form id="switchform" aria-label="styleswitcher">
	                            <select name="switchcontrol" id="siteswitcher" size="1" onChange="chooseStyle(this.options[this.selectedIndex].value, 60)">
		                            <option value="light">light</option>
                                    <option value="dark">dark</option>
	                            </select>
                            </form>
                        <br>
                            <iframe src="https://nekoweb.org/frame/follow" frameborder="0" width="170" height="25"></iframe>
                    </div>
<h1><a id="navigation">Navigation</a></h1>
                    <div class="box" id="sitely">
                        <strong>Sitely</strong>
                        <ul class="links">
                            <li class="links" style="background-image:url('../../../img/home/links/home.gif');background-repeat: no-repeat;"><a class="hvr-underline-from-left" href="/index">Home</a></li>
                            <li class="links" style="background-image:url('../../../img/home/links/plane.gif');background-repeat: no-repeat;"><a class="hvr-underline-from-left" href="/sitemap">Sitemap</a></li>
                            <li class="links" style="background-image:url('../../../img/home/links/pins.gif');background-repeat: no-repeat;"><a class="hvr-underline-from-left" href="/links">Links</a></li>
                        </ul>
                        <hr>
                        <strong>Personal</strong>
                        <ul class="links">
                            <li class="links" style="background-image:url('../../../img/home/links/cat.gif');background-repeat: no-repeat;"><a class="hvr-underline-from-left" href="/about">Webmaster</a></li>
                            <li class="links" style="background-image:url('../../../img/home/links/pencil.gif');background-repeat: no-repeat;"><a class="hvr-underline-from-left" href="/blog">Blog</a></li>
                            <li class="links" style="background-image:url('../../../img/home/links/paw.png');background-repeat: no-repeat;"><a class="hvr-underline-from-left" href="/pets">Pets</a></li>
                            <li class="links" style="background-image:url('../../../img/home/links/star.gif');background-repeat: no-repeat;"><a href="/alterhuman">Alterhuman</a></li>
                        </ul>
                        <hr>
                        <strong>Shrines</strong>
                        <ul class="links">
                            <li class="links" style="background-image:url('../../../img/home/links/heart.gif');background-repeat: no-repeat;"><a class="hvr-underline-from-left" href="/shrines/love">Ghost</a></li>
                            <li class="links" style="background-image:url('../../../img/home/links/pumpkin.gif');background-repeat: no-repeat;"><a class="hvr-underline-from-left" href="/shrines/hyde">Hyde</a></li>
                            <li class="links" style="background-image:url('../../../img/home/links/music.gif');background-repeat: no-repeat;"><a class="hvr-underline-from-left" href="/shrines/music/home">Music</a></li>
                            <li class="links" style="background-image:url('../../../img/home/links/five.png');background-repeat: no-repeat;"><a class="hvr-underline-from-left" href="/shrines/james/">James</a></li>
                        </ul>
                    </div>
                    <h1>Off-site</h1>
                    <div class="box" id="off-site">
                        <ul class="links">
                            <li class="links" style="background-image:url('../../../img/home/links/arrow.gif');background-repeat: no-repeat;"> <a class="hvr-underline-from-left" href="https://tri4ge.carrd.co/" target="_blank">Art site</a><br>
                            <li class="links" style="background-image:url('../../../img/home/links/arrow.gif');background-repeat: no-repeat;"> <a class="hvr-underline-from-left" href="https://x.com/faeriemachine" target="_blank">Twitter</a><br>
                            <li class="links" style="background-image:url('../../../img/home/links/arrow.gif');background-repeat: no-repeat;"> <a class="hvr-underline-from-left" href="https://3t22.tumblr.com/" target="_blank">Tumblr</a><br>
                            <li class="links" style="background-image:url('../../../img/home/links/arrow.gif');background-repeat: no-repeat;"> <a class="hvr-underline-from-left" href="https://www.instagram.com/faeriemachine/" target="_blank">Instagram</a><br>
                            <li class="links" style="background-image:url('../../../img/home/links/arrow.gif');background-repeat: no-repeat;"> <a class="hvr-underline-from-left" href="https://www.youtube.com/channel/UCkQbyzwlfsCD5tfns0VSh1A" target="_blank">YouTube</a><br>
                            <li class="links" style="background-image:url('../../../img/home/links/arrow.gif');background-repeat: no-repeat;"> <a class="hvr-underline-from-left" href="https://plush.city/@faeriemachine" target="_blank">Mastodon</a><br>
                            <li class="links" style="background-image:url('../../../img/home/links/arrow.gif');background-repeat: no-repeat;"> <a class="hvr-underline-from-left" href="https://www.pinterest.ca/scampershores" target="_blank">Pinterest</a><br>
                            <li class="links" style="background-image:url('../../../img/home/links/arrow.gif');background-repeat: no-repeat;"> <a class="hvr-underline-from-left" href="https://letterboxd.com/oblivionbay/" target="_blank">Letterboxd</a><br>
                            <li class="links" style="background-image:url('../../../img/home/links/arrow.gif');background-repeat: no-repeat;"> <a class="hvr-underline-from-left" href="https://www.discogs.com/user/scampershores" target="_blank">Discogs</a><br>
                            <li class="links" style="background-image:url('../../../img/home/links/arrow.gif');background-repeat: no-repeat;"> <a class="hvr-underline-from-left" href="https://tidal.com/@triage" target="_blank">Tidal</a><br>
                            <li class="links" style="background-image:url('../../../img/home/links/arrow.gif');background-repeat: no-repeat;"> <a class="hvr-underline-from-left" href="https://www.last.fm/user/faeriemachine" target="_blank">Last.FM</a><br>
                            <li class="links" style="background-image:url('../../../img/home/links/arrow.gif');background-repeat: no-repeat;"> <a class="hvr-underline-from-left" href="https://bandcamp.com/tri4ge" target="_blank">Bandcamp</a><br>
                            <li class="links" style="background-image:url('../../../img/home/links/arrow.gif');background-repeat: no-repeat;"> <a class="hvr-underline-from-left" href="https://github.com/faeriemachine" target="_blank">Github</a><br>
                            <li class="links" style="background-image:url('../../../img/home/links/arrow.gif');background-repeat: no-repeat;"> <a class="hvr-underline-from-left" href="https://www.youtube.com/channel/UC5YUECYg85tCqXMfbionHiA" target="_blank">Media archive</a><br>
                        </ul>
                    </div>
