                    <h1>
                        Scrobbles
                    </h1>
                    <div class="box">
                        <div class="nowplayingcard">
                            <div class="nowplayingcontainer-inner">
                                <div class="albumcont">
                                    <div class="album">
                                        <img id="trackart" src="#" alt="album cover">
                                    </div>
                                    <div class="freeze" id="cd">
                                        <img src="../../../img/home/cd.png" alt="cd" style="width: 100%;">
                                    </div>
                                </div>
                                <div class="trackInfo">
                                    <a id="tracktitle"></a>
                                    <a href="#" id="trackartist"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1>
                        Link me!
                    </h1>
                    <div class="box">
                        <img class="link" src="../../../img/home/fmbutton.png" alt="FaerieMachine button">
                    <label>
                  <textarea style="height: 100px; width: -moz-available;">&lt;a target="_blank" href="https://faeriemachine.neocities.org"&gt;&lt;img loading="lazy" src="https://faeriemachine.nekoweb.org/img/home/fmbutton.png" alt="FaerieMachine button"&gt;&lt;/a&gt;</textarea>
                    </label>
                    </div>
                    <h1>Neighbours</h1>
                    <div class="box" id="neighbourhood">
                        <center>
                        <p class="marquee up" id="neighbours-marquee">
                                    <a href="https://sunshine.nekoweb.org/" target="_blank" title="Sol's Sunflower Field"><img id="button" class="freeze" src="../../../img/links/sunshine.png" alt="Sunshine Fields"></a> <br />
        <a href="https://matchaexe.neocities.org/" target="_blank" id="buttonText"><img id="button" class="freeze" src="../../../img/links/MatchaEXEEyes.png" alt="matcha exe button"></a> <br />
        <a href="https://shinyexe.neocities.org/" target="_blank" id="buttonText"><img id="button" class="freeze" src="../../../img/links/shinyexe.png" alt="shiny exe button"></a> <br />
        <a href="https://ballonlea.neocities.org/"><img id="button" class="freeze" src="../../../img/links/ballonlea.png" alt="Ballonlea's site button"></a> <br />
        <a href="https://snewdraws.net" target="_blank" id="buttonText"><img id="button" class="freeze" style="image-rendering: pixelated" src="../../../img/links/snewbutton.png" alt="Snewdraws.net Button"></a> <br />
        <a href="https://vhswarehouse.neocities.org/" target="_blank" id="buttonText"><img id="button" src="../../../img/links/vhswarehouse.png" alt="VHSWAREHOUSE Button" title="VHSWAREHOUSE on Neocities" border="0"></a> <br />
        <a href="http://prophetesque.gay" target="_blank" id="buttonText"><img id="button" src="../../../img/links/prophetesque.png" alt="prophetesque.gay button"></a> <br />
        <a href="https://ethersent.neocities.org" target="_blank" id="buttonText"><img id="button" class="freeze" src="../../../img/links/ethersent.png" alt="Ethersent Button"></a> <br />
        <a href="https://spiritcellar.neocities.org/" target="_blank" id="buttonText"><img id="button" class="freeze" src="../../../img/links/spiritcellar.png" alt="SpiritCellar Button"></a> <br />
        <a href="https://duckysden.neocities.org/" target="_blank" id="buttonText"><img id="button" src="../../../img/links/DuckysDen_Blue.png" alt="DuckysDen Button" width="100"></a> <br />
        <a href="https://unyunish.com" target="_blank" id="buttonText"><img id="button" class="freeze" src="../../../img/links/unyunbutton.png" alt="Unyunish Button"></a> <br />
        <a href="https://clubsocial.neocities.org/" target="_blank"><img id="button" class="freeze" src="../../../img/links/clubsocial.png" alt="ClubSocial Button"></a> <br />
        <a href="https://rice.place/" target="_blank" title="Rice Place"><img id="button" src="../../../img/links/ricedotplace.png" alt="Rice dot place"></a> <br />
        <a href="https://doglike.nekoweb.org/" target="_blank" title="Doglike"><img id="button" class="freeze" src="../../../img/links/doglike.png" alt="doglike"></a> <br />
        <a href="https://biofreak.world/" target="_blank" title="Biofreak"><img id="button" src="../../../img/links/biofreak-dark.png" alt="Biofreak"></a> <br />
        <a href="https://caramelles.nekoweb.org/" target="_blank" title="Caramelles"><img id="button" src="../../../img/links/carabutton.png" alt="Caramelles"></a> <br />
        <a href="https://rainboe.nekoweb.org/" target="_blank" title="Rainboe"><img id="button" class="freeze" src="../../../img/links/rainboe88x31.png" alt="Rainboe"></a> <br />
        <a href="https://petyou.neocities.org/" target="_blank" title="Petyou"><img id="button" src="https://64.media.tumblr.com/735a50f7a6ac42fb17ca446610281b66/62b2544cad7da2ec-67/s100x200/369fe017c71bc544c426fc6b0b7b65c6c842ed2d.pnj" alt="PetYou"></a> <br />
        <a href="https://kykawaii.neocities.org/" target="_blank" title="KyKawaii"><img id="button" class="freeze" src="../../../img/links/kykawaii.png" alt="KyKawaii"></a> <br />
        <a href="https://51db.neocities.org" target="_blank" title="51db"><img id="button" src="../../../img/links/51db.gif" alt="51db's button"></a> <br />
        <a href="https://caspersfun.zone/" target="_blank" title="Casper's Funzone"><img id="button" src="../../../img/links/caspers-funzone.png" alt="Casper's Funzone"></a> <br />
        <a href="https://caspersfun.zone/" target="_blank" title="Corvidae Digital"><img class="freeze" id="button" src="../../../img/links/corvidae.png" alt="Corvidae Digital"></a>
                        </p>
                        </center>
                    </div> 