                    <h1>
                        Status
                    </h1>
                    <div class="box" id="status">
                        <p><strong>Feeling:</strong> <a href="https://www.imood.com/users/faeriemachine"><img src="https://moods.imood.com/display/uname-faeriemachine/trans-1/imood.gif" alt="The current mood of faeriemachine at www.imood.com" border="0"></a></p>
        <div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=deluxepain" defer></script>
                    </div>
                    <h1>
                        Scrobbles
                    </h1>
                    <div class="box">
                        <div class="nowplayingcard">
                            <div class="nowplayingcontainer-inner">
                                <div class="albumcont">
                                    <div class="album">
                                        <img id="trackart" src="#" alt="album cover">
                                    </div>
                                    <div class="cd">
                                        <img src="../../../img/home/cd.gif" alt="cd" style="width: 100%;">
                                    </div>
                                </div>
                                <div class="trackInfo">
                                    <a id="tracktitle"></a>
                                    <a href="#" id="trackartist"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1>
                        Link me!
                    </h1>
                    <div class="box">
                        <img class="link" src="../../../img/home/fmbutton.png" alt="FaerieMachine button">
                  <textarea style="height: 55px; width: -moz-available;">&lt;a target="_blank" href="https://faeriemachine.neocities.org"&gt;&lt;img loading="lazy" src="url" alt="FaerieMachine button"&gt;&lt;/a&gt;</textarea>
                    </div>