<head>
    <link rel="stylesheet" href="/css/index.css" />
</head>

<p>
  <span class="subtitle">??/??/??</span>
  Welcome to the site's 3.0 layout!
</p>

<p>
  <span class="subtitle">03.05.25</span>
  Added a new journal entry on my trip to Toronto for Furnal Equinox!
</p>

<p>
  <span class="subtitle">13.02.25</span>
  Adjusting a few things here and there, and added a new journal entry.
</p>

