<p>
    <h2>20.11.24</h2>
    2.0 layout goes live today! Also included in this layout update is a new article; "The Case For And Against Autism Parents - The Internet's Most Infamous "Warriors" of Disabled Children"
</p>
  
  <p>
    <h2>21.08.24</h2>
    Added Hyde's memorial shrine
  </p>
  
  <p>
    <h2>18.08.24</h2>
    Fixed journal page and added new entry
  </p>
  
  <p>
    <h2>04.05.24</h2>
      Made 'now' page
  </p>
  
  <p>
    <h2>04.02.24</h2>
    Blowing the dust off the website, added new thrift log entry, tweaked a few things for visual aesthetics purposes, finally made a logo and header image
  </p>