<p>
    <h2>24.12.28</h2>
    Edited about page.<br>
    Fixed footer links.
</p>

<p>
    <h2>24.12.25</h2>
    Replaced the header marquee with Koba's Infinite CSS Marquee, changed out some outlinks, and edited the /links page slightly to reflect the site's changes.
</p>

<p>
    <h2>24.10.25</h2>
    Added the "Follow on Nekoweb" button
</p>

<p>
    <h2>27.07.25</h2>
    Edited the 'tools' section of my links page to better reflect my new and current setup
</p>

<p>
    <h2>11.07.25</h2>
    Welcome to the site's 3.0 layout! This brand new layout was built from scratch using 11ty, and has a ton of new features, like a new blog page (which has replaced 'articles' and 'journal,') a new updates archive, a resources page, and so much more! Feel free to explore the site :)
</p>
  
<p>
    <h2>03.05.25</h2>
    Added a new journal entry on my trip to Toronto for Furnal Equinox!
</p>
  
<p>
    <h2>13.02.25</h2>
    Adjusting a few things here and there, and added a new journal entry.
</p>