<head>
    <link rel="stylesheet" href="/css/index.css" />
</head>

<p>
  <span class="subtitle">??/??/25</span>
  Welcome to the site's 3.0 layout! This brand new layout was built from scratch using 11ty, and has a ton of new features, like a new blog page (which has replaced 'articles' and 'journal,') a new updates archive, a resources page, and so much more! Feel free to explore the site :)
</p>

<p>
  <span class="subtitle">03.05.25</span>
  Added a new journal entry on my trip to Toronto for Furnal Equinox!
</p>

<p>
  <span class="subtitle">13.02.25</span>
  Adjusting a few things here and there, and added a new journal entry.
</p>

