<p>
    <h2>24.02.26</h2>
    Revised the interests section on the <a href="">webmaster</a> page<br />
    Adjust CSS style colours.

    <h2>23.02.26</h2>
    Changed out background images for light & dark themes.<br />
    Complete rehaul of dark theme colours.

    <h2>16.02.26</h2>
    Remade <a href="/shrines/ghost/">Ghost's shrine</a>.<br />
    Added and changed body text font.
    
    <h2>10.01.26</h2>
    Added "100 Questions for Webmasters" blog post.<br />
    Added more buttons to header marquee.
</p>