<head>
    <link rel="stylesheet" href="/css/index.css" />
</head>

<p>
  <span class="subtitle">15.11.23</span>
  Added "journal" page, added first journal entry
</p>

<p>
  <span class="subtitle">11.11.23</span>
  Changed "blog" page to "articles," added new article: Willfully Drowning in The Fountain of Youth: An Essay on Self-Infantilization
</p>

<p>
  <span class="subtitle">01.11.23</span>
  Added the thrift log
</p>

<p>
  <span class="subtitle">16.10.23</span>
  New "about the site" and sitemap pages added, media query done for homepage (+ tabs) and blog
</p>

<p>
  <span class="subtitle">09.10.23</span>
  New webmaster page added
</p> 

<p>
  <span class="subtitle">06.10.23</span>
  Landing page added, otherkin page added, first blog post made
</p>  

<p>
  <span class="subtitle">28.09.23</span>
  Layout beef-up
</p>