
<p>
    <h2>15.11.23</h2>
    Added "journal" page, added first journal entry
  </p>
  
  <p>
    <h2>11.11.23</h2>
    Changed "blog" page to "articles," added new article: Willfully Drowning in The Fountain of Youth: An Essay on Self-Infantilization
  </p>
  
  <p>
    <h2>01.11.23</h2>
    Added the thrift log
  </p>
  
  <p>
    <h2>16.10.23</h2>
    New "about the site" and sitemap pages added, media query done for homepage (+ tabs) and blog
  </p>
  
  <p>
    <h2>09.10.23</h2>
    New webmaster page added
  </p> 
  
  <p>
    <h2>06.10.23</h2>
    Landing page added, otherkin page added, first blog post made
  </p>  
  
  <p>
    <h2>28.09.23</h2>
    Layout beef-up
  </p>