<h1>Updates Archive</h1>
 <div class="box" id="archive">
 <h3 style="text-align: center;font-size: 2em;">2025</h3>
  {% include "updates25.njk" %}
<h3 style="text-align: center;font-size: 2em;">2024</h3>
  {% include "updates24.njk" %}
<h3 style="text-align: center;font-size: 2em;">2023</h3>
  {% include "updates23.njk" %}
<h3 style="text-align: center;font-size: 2em;">2022</h3>
  {% include "updates22.njk" %}
</div>