<p>
    <h2>16.02.26</h2>
    Remade <a href="/shrines/ghost/">Ghost's shrine</a>.<br>
    
    <h2>10.01.26</h2>
    Added "100 Questions for Webmasters" blog post.<br>
    Added more buttons to header marquee.
</p>