<head>
    <link rel="stylesheet" href="/css/index.css" />
</head>

<p>
  <span class="subtitle">20.11.24</span>
  2.0 layout goes live today! Also included in this layout update is a new article; "The Case For And Against Autism Parents - The Internet's Most Infamous "Warriors" of Disabled Children"
</p>

<p>
  <span class="subtitle">21.08.24</span>
  Added Hyde's memorial shrine
</p>

<p>
  <span class="subtitle">18.08.24</span>
  Fixed journal page and added new entry
</p>

<p>
  <span class="subtitle">04.05.24</span>
    Made 'now' page
</p>

<p>
  <span class="subtitle">04.02.24</span>
  Blowing the dust off the website, added new thrift log entry, tweaked a few things for visual aesthetics purposes, finally made a logo and header image
</p>
 

 

 

 