---
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: base.njk
permalink: /blog/tag/{{ tag | slugify }}/
eleventyComputed:
  title: Posts Tagged with "{{ tag }}"
---
<div class="title">Posts tagged with {{ tag }}</div>

<div class="box">
{% for post in collections[tag] | reverse %}
<a class="subtitle" href="{{post.url}}">{{ post.data.title }}</a>
<p>{{ post.data.description }}</p>
<p class="date">
  <i class="fa-regular fa-calendar"></i> {{ post.data.date | date }} |
  <i class="fa-solid fa-hashtag"></i>
  {% for tag in post.data.tags %}
   <a href="/blog/tag/{{ tag | slugify }}">{{ tag }}</a>
 {% endfor %}
 
</p>
<hr>
{% endfor %}
</div>