#one{
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.about{
    width: 280%;
}

.about-image{
    width: 150%;
    height: 245px;
    margin-top: 20px;
    background-image: url('../img/about/me.png');
    background-size: 123% 123%;
    background-repeat: no-repeat;
    background-position: center;
    border: 20px solid pink;
    border-image: url('../img/about/border.gif');
    border-image-slice: 20 22;
    border-image-repeat: round;
    box-shadow: 1px 1px 5px black;
    z-index: 2;
    position: relative;
    transition: all .2s ease;  
}

#basics{
    overflow-y: scroll;
    height: 230px;
    width: 95%;
    position: relative;
    text-align: center;
}

#basics{
    overflow-y: scroll;
    height: 200px;
    width: 95%;
    position: relative;
    text-align: center;
}

#idbutton{
  transition: all .2s ease-in-out;  
}

#idbutton:hover{
  transform: scale(1.75); 
}

#flag{
  transition: all .2s ease;  
}

#flag:hover{
  transition: all .2s ease;  
  transform: scale(1.3); 
}


.navi{
    text-align:center;
    margin: 8px auto;
    width: 80%;
    border-radius: 50px;
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    list-style-type: none;
}

.tablinks{
    font-size: 1.25em;
    margin: 5px;
    margin-left: 35px;
    margin-right: 35px;
}

li.navi{
    margin: 4px;
}


ul {
  padding-left: 15px;
  text-align: left;
  list-style-type: none;
  margin: 0;
}

li{
  padding-left: 25px;
  margin:5px;
}

.flexwrap {
    display: flex;
    flex-direction: row;
}

.pokemon {
   align-items: end;
}

/* Likes/Dislikes/Hobbies */
.preferences {
    width: 34%;
}

.likes, .dislikes, .hobbies, .youtube, .animals, .food, .items, .aesthetics, .themes {
    overflow: scroll;
    overflow-x: hidden;
    height: 250px;
}

.pkmn{
    text-align: center;
    width: 20%;
    height: 170px;
    margin: 5px;
    border-radius: 100%;
    display: block;
    align-content: end;
}


.interests {
    width: 50%;
}

/* Image galleries */

.image-gallery {
  display: flex;
  overflow: scroll;
}

.image-gallery div {
  margin: 5px;
  border-radius: 25px;
  box-sizing: border-box;
  width: calc(20% - 10px);
  position: relative;
}

/* Captions */
.image-gallery div span {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Mali';
  text-align: center;
  padding: 5px 5px;
  font-size: 0.85rem;
  opacity: 0;
  transform: translateY(10px);
  transition: transform 0.4s ease, opacity 0.5s ease;
}

/* Captions on Hover */
.image-gallery div:hover span {
  opacity: 1;
  transform: none;
}

/* Images */
.image-gallery div img {
  width: 130px;
  height: 100%;
  object-fit: cover;
  border-radius: 22px;
}

ul.interest{
    padding-left: 5px;
    text-align: left;
    list-style-type: none;
    margin: 5px;
  }

li.interest{
    margin-top: 10px;
    line-height: 24px;
}

mark{
    margin-left: 15px;
}

@media only screen and (max-width:980px) {

    #one{
        flex-direction: column;
    }

    .about-image{
        height: 250px;
        width: 250px;
        margin: 0 auto;
        margin-top: 10px;;
    }

    .about {
        width: auto;
    }

    #basics{
        width: auto;
    }

    .tabs{
        width: 100%;   
    }

    .tablinks{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 0.9em;
    }

    .image-gallery div {
        width: calc(50% - 10px);
    }
    
    li.interest {
        line-height: 16px;
      }

    .flexwrap{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .pokemon{
        flex-direction: row;
    }

    .preferences {
        width: auto;
    }

    .likes, .dislikes, .hobbies, .youtube, .animals, .food, .items, .aesthetics{
        height: 150px;
    }

    .interests {
        width: auto;
    }

    .pkmn {
        height: fit-content;
        width: fit-content;
    }
  }