#one{
    width: 90%;
    display: flex;
    margin: 0 auto;
}

.about{
    width: 280%;
}

.about-image{
    width: 150%;
    height: 245px;
    margin-top: 20px;
    background-image: url('../img/about/me.png');
    background-size: 123% 123%;
    background-repeat: no-repeat;
    background-position: center;
    border: 20px solid pink;
    border-image: url('../img/about/border.gif');
    border-image-slice: 20 22;
    border-image-repeat: round;
    box-shadow: 1px 1px 5px black;
    z-index: 2;
    position: relative;
    transition: all .2s ease;  
}

#basics{
    overflow-y: scroll;
    height: 230px;
    width: 95%;
    position: relative;
    text-align: center;
}

#basics{
    overflow-y: scroll;
    height: 200px;
    width: 95%;
    position: relative;
    text-align: center;
}

.navi{
    text-align:center;
    margin: 8px auto;
    width: 80%;
    border-radius: 50px;
    max-width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    list-style-type: none;
}

.tablinks{
    font-size: 1.25em;
    margin: 5px;
    margin-left: 35px;
    margin-right: 35px;
}

li.navi{
    margin: 4px;
}

ul.interest{
    padding-left: 5px;
    text-align: left;
    list-style-type: none;
    margin: 5px;
  }

li.interest{
    margin-top: 10px;
    line-height: 24px;
}

mark{
    margin-left: 15px;
}

@media only screen and (max-width:980px) {

    #one{
        flex-direction: column;
    }

    .about-image{
        height: 250px;
        width: 250px;
        margin: 0 auto;
        margin-top: 10px;;
    }

    .about {
        width: auto;
    }

    #basics{
        width: auto;
    }

    .tabs{
        width: 100%;   
    }

    .tablinks{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 0.9em;
    }

    li.interest {
        line-height: 16px;
      }
  }