#one, #two{
    width: 95%;
    display: flex;
    margin: 0 auto;
}

.intro{
    width: 75%;
}

.intro-image{
    margin: 0 auto;
}

#introduction{
    overflow: hidden;
    height: 200px;
    text-align: center;
}

#mutuals, #sites{
    width: 50%;
    text-align: center;
}

/* Images */
.sorayan-one{
    width: 75%;
    position: relative;
    top: 15px;
    right: -45px;
}

@media only screen and (max-width:980px) {

    #one{
      flex-direction: column-reverse;
    }

    .intro{
        width:100%;
    }

    #introduction{
        height: fit-content;
    }

    .sorayan-one {
        width: 70%;
      }
    
}