/* Fonts */
.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
    font-family: Atkinson Hyperlegible;
    font-weight: 500;
}

a {
    text-decoration:none;
    overflow: hidden;
    font-weight:900;
    font-family: 'Mali';
    transition: all .2s ease;
}

a:hover{
  letter-spacing: 2px;
  transition: all .2s ease-in-out;  
}

#navigation{
    vertical-align: inherit;
}

p {
    margin: 10px;
}

.unavailable{
  font-weight: bold;
}

ul.links{
  padding-left: 15px;
  text-align: left;
  list-style-type: none;
  margin: 5px;
}

li.links{
  padding-left: 25px;
}

li.links a:hover {
  padding-left: 5px;
}

hr{
  border-style: dashed;
  border-width: 2px;
  margin: 15px 2em 15px 2em;
}

h1{
  text-align:center;
  font-size: 1.35em;
  font-weight: 600;
  margin: 8px auto;
  padding: 5px;
  width: 80%;
  border-radius: 50px;
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: 'Mali';
}

h2 {
  display: block;
  padding: 10px;
  font-size: 1.15em;
  font-weight: 600;
  border-radius: 25px;
  font-family: 'Mali';
}

h3 {
  display: block;
  margin: 9px;
  font-size: 1.15em;
  font-weight: 600;
  border-radius: 25px;
  padding: 7px;
  font-family: 'Mali';
}

h4 {
  display: block;
  margin: 9px;
  font-size: 1.05em;
  font-weight: 600;
  border-radius: 25px;
  padding: 7px;
  font-family: 'Mali';
}

mark{
  font-weight: 600;
  border-radius: 25px;
  padding: 5px;
  font-family: 'Mali';
}

form select{ 
  display: block;
  padding: 10px;
  font-family: Mali;
  font-weight: 600;
  border-radius: 25px;
  width: 100%;
}

/* Hover to show tooltip */
.hovertitle {
  font-weight: bold;
  position: relative;
}

/* Tooltip */
.tippy-box[data-theme~='faerie'] {
  color: white;
  font-family: 'Mali';
  font-weight: bold;
  font-size: .75em;
  border-radius: 25px;
}

.tippy-box[data-inertia][data-state='visible'] {
  transition-timing-function: cubic-bezier();
}

/* Style containers */

.box{
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
    box-shadow: 1px 1px 5px black;
}

.container {
	width: 65%;
	min-width:900px;
	margin: 0 auto;
	padding: 0;
	min-height: 100vh;
	display:flex;
	flex-direction:column;
	align-items: stretch;
}

.innerbox {
    color: var(--pastelpurple);
    background: var(--plum);
    border-radius: 25px;
    margin: 0px 5px 20px 5px;
    padding: 5px;
}

/* main content */
.maincont {
	display: flex;
	flex-direction: row;
	min-width:900px;
	align-items: stretch;
	max-height: 75vh;
	flex: 9;
}

/* section styling */

.header{ 
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.sidebar {
	  flex:1;
    width: 205px;
    overflow-y: auto;
}

#status{
    text-align:center;
}

.content {
	  flex:4;
    overflow-y:scroll;
    overflow-x: hidden;
}

.navigation {
	flex:1;
  width: 205px;
  overflow-y: auto;
}

#sitely{
    height:185px;
    overflow-y:scroll;
}

#off-site{
    height:140px;
    overflow-y:scroll;
}

#neighbourhood{
    height:145px;
    padding: 0px;
}

.footer {
    color: white;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

/* Figures */
figure {
  box-shadow: 1px 1px 5px black;
  border-radius: 25px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  height: fit-content;
}

/* Marquees */
.marqueebox{
    margin: 0px;
    padding: 5px;
}

#neighbours-marquee{
    margin: 0px;
    height:145px;
    border-radius: 25px;
}

/* This is what causes the actual smooth scrolling */
@keyframes scroll-r2l {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Change the '10s' in this to change how fast it scrolls! */
.scroll-r2l {
  animation: scroll-r2l 60s linear infinite;
}

/* Left-to-Right */
@keyframes scroll-l2r {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.scroll-l2r {
  animation: scroll-l2r 60s linear infinite;
}

/* 'Display: Flex' is extremely important to use here so all the items inside the marquee line up correctly, and the duplicated container lines up properly with the original */
.headermarquee {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: unset;
}

.headermarquee-items {
  display: flex;
  flex-shrink: 0;
  height: 100%;
  min-width: 100%;
  position: relative;
}

/* Changes to this class will only affect the children
of the marquee-items, and not all of their descendants.
Make changes here if you want spaces in-between the
marquee items or other effects and styles!*/
.headermarquee-items > * {
  margin: 0;
  height: 31px;
}

.paused {
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
}

/* img */
.logo {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.link{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  transition: all .2s ease;  
}

#button{
    transition: all .2s ease;  
  }

#neighbour{
  display: inline-block;
  transition: all .2s ease;  
}

#button:hover, .link:hover, #neighbour:hover{
  transition: all .2s ease;  
  transform: scale(1.1); 
}

/* skip buttons */
.skip-to-nav-link, .skip-to-content-link {
  height: 30px;
  width:100%;
  padding-top: 8px;
  padding-bottom: 10px;
  background-color:var(--indigo);
  color: var(--white);
}

.skip-to-nav-link {
  display:none; /* hide unless mobile... */
}

.skip-to-content-link {
  top:-1px;
  left:-1px;
  transform: translateY(-100%);
  transition: transform 0.3s;
  position:absolute;
  z-index: 10;
}

.skip-to-content-link:focus, .skip-to-nav-link:focus {
  transform: translateY(0%);
}

#top {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 15px;
  z-index: 99;
  font-size: 1em;
  font-family: 'Mali';
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
}

#top:hover {
  background-color: #555;
}

button{
  font-family: 'Mali';
  font-weight:600;
  border: 1px solid var(--transparent);
  border-radius: 25px;
}

button:hover{
  cursor: pointer;
}

#giftoggle{
  font-size: 0.7em;
  padding: 5px;
}

/* Fade Effects */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    animation: fadeInUp 0.5s ease-out;
}

/* Breathing element */
#fuck {
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px 1px 0 black) drop-shadow(0 -1px 0 black) drop-shadow(1px 0 black);
     margin-top: 15px;
     text-align: center;
     font-size:3.25em;
     font-weight:bold; 
     -webkit-animation: pop 1s ease-in-out infinite alternate;
     animation: pop 1s ease-in-out infinite alternate;
     -moz-animation: pop 1s ease-in-out infinite alternate;
    }
    
    @keyframes pop {
    from {
    transform:scale(0.95)
    }
    
    50% {
    transform:scale(1)
    }
    
    to {
    transform:scale(0.95)
    }
    }
    
    @-webkit-keyframes pop {
    from {
    -webkit-transform:scale(0.95)
    
    }
    
    50% {
    -webkit-transform:scale(1)
    
    }
    
    to {
    -webkit-transform:scale(0.95)
    
    }
    
    }

/* Scrollbars */
  /* Firefox */
  .sidebar, .navigation {
    scrollbar-width: thin;
  }

  /* Chrome, Edge, and Safari */
  .sidebar::-webkit-scrollbar, .navigation::-webkit-scrollbar {
    width: 10px;
  }

  .sidebar::-webkit-scrollbar-thumb, .navigation::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border: 0px none #ffffff;
  }

  /* Firefox */
  .content {
    scrollbar-width: thin;
  }

  /* Chrome, Edge, and Safari */
  .content::-webkit-scrollbar {
    width: 10px;
  }

  .content::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border: 0px none #ffffff;
  }

  /* Firefox */
  .box {
    scrollbar-width: thin;
  }

  /* Chrome, Edge, and Safari */
  .box::-webkit-scrollbar {
    width: 10px;
  }

  .box::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border: 0px none #ffffff;
  }

/* Status cafe */
#statuscafe {
    margin: 5px;
}

/* Last.FM Widget */
.nowplayingcard {

    .nowplayingcontainer-inner {
      width: 100%;
      transition: 0.3s;
      display: inline-block;
    
      img#trackart {
        max-width: 70%;
        margin-top: 5px;
        margin-left: 3px;
        box-shadow: 1px 1px 5px black;
      }
    
      .trackInfo {
        display: block;
        margin: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: -10px;
    
        a {
          max-width: 90%;
          display: block;
          font-size: 0.8em;
          text-align: left;
          text-decoration: none;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
    
          &:nth-child(odd) {
            img {
              width: 15px;
              height: 15px;
              vertical-align: middle;
              margin: -2% 3px 0 0;
            }
    
            font-weight: bold;
            vertical-align: middle;
            line-height: 15px;
            letter-spacing: 0.2px;
            padding: 10% 0 0 0%;
          }
    
          &:nth-child(even) {
            img {
              width: 15px;
              height: 15px;
              vertical-align: middle;
              margin: -2% 3px 0 0;
            }
          }
        }
      }
    }
    }

.albumcont{
    position: relative;
}

.album{
    z-index: 2;
    position: sticky;
}

#cd {
    max-width: 69%;
    z-index: 1;
    position: absolute;
    bottom: 1px;
    right: -3px;
}

@media only screen and (max-width: 980px) {

.skip-to-nav-link {
    display:block;
}

body{
  font-size: 12px;
}

p {
  margin: 2px;
}

.title{
  font-size: 14px;
}

#top {
  display:block;
}

.header{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

  .logo{
      width: 45%;
  }

.container {
  min-width:initial;
  width:100%;
}

.maincont {
  flex-direction:column;
  min-width:initial;
  width:100%;
      max-height: fit-content
}

.content {
  order:1;
}

.sidebar {
      order:3;
      width: 100%;
      height: fit-content;
      overflow: visible;
}

nav, aside{
  margin: 0 auto;
  width: 60%;
  font-size: 1rem;
}

  .navigation{
      order: 2;
      width: 100%;
      height: fit-content;
      overflow: visible;
  }

  #sitely {
    height: fit-content;
  }

  #off-site {
    height: fit-content;
  }

  #neighbourhood {
    height: 230px;
  }

  #neighbours-marquee {
    height: 230px;
  }

  .nowplayingcard {
      font-size: 24px;

      img#trackart {
          width: 65%;
          left: 280px;
        }

        .trackInfo{
          margin-top: -296px;
      }
  }
  
    #cd{
      max-width: 65%;
    }
}