---
title: Home
layout: base.njk
---
<head>
    <link rel="stylesheet" href="/css/index.css" />
</head>

<section id="one">
    <div class="welcome">
        <h1>ଘ(∩^o^)⊃━☆:･ﾟ✧*:･ﾟ✧</h1>
        <div class="box" id="introduction">
            <p>My names are Kian or Eddie, welcome to my personal slice of the internet! Having begun this site back in 2022, I intend to use it to host everything that's important to me, and I hope you'll come along with me on my personal coding journey!</p>
            <p>This site is 18+ and not suitable for minors.</p>
            <p>This site is operating on it's 3.0 layout and requires JS.</p>
            <hr>
            <span id="updated"></span> |
            <span id="visitors"></span>
        </div>
    </div>
    <div class="welcome-image">
        <img class="sorayan-one" alt="Sorayan waving" src="img/home/sorayan1.png">
    </div>
</section>
<section id="two">
    <div class="bulletin-image">
        <img class="sorayan-two" alt="Sorayan waving wearing coat" src="img/home/sorayan7.png">
    </div>
    <div class="bulletin">
        <h1>Bulletin Board</h1>
        <div class="box" id="bulletin-board">
            <p>Below are various links you can use in order to donate to and support Palestinian causes and liberation.</p>
            <ul>
                <li><a href="https://docs.google.com/spreadsheets/d/1yYkNp5U3ANwILl2MknJi9G7ArY4uVTEEQ1CVfzR8Ioo/edit?gid=0#gid=0" target="_blank" >Vetted Gaza Evacuation Fundraiser List</a> - Masterlist of fundraisers for Palestinian families in need, vetted by actual Palestinians</li>
                <li><a href="https://docs.google.com/spreadsheets/d/1vtMLLOzuc6GpkFySyVtKQOY2j-Vvg0UsChMCFst_WLA/edit?usp=drive_web&ouid=113835288396245592240" target="_blank" >Operation Olive Branch</a> - Masterlist of fundraisers for Palestinian families in need</li>
                <li><a href="https://docs.google.com/spreadsheets/d/1FC1fK-3r-w3wPi2AdYho5_0j148QC6wkFIMdJA5kX4c/htmlview#gid=0" target="_blank" >Gaza Evacuation Relief Fund</a> - Fundraisers vetted by Ottawa4Palestine</li>
                <li><a href="https://docs.google.com/spreadsheets/u/0/d/e/2PACX-1vTKQYInYewFiGUX4afdHK-rANJDT4dgOC4IV6elKYNvYI2HvOTf_6IsTqt5m2KXcr_pGxcqR8AvsAJi/pubhtml?pli=1#" target="_blank" >The Butterfly Project</a> - More vetted fundraisers for Palestinians in need</li>
                <li><a href="https://docs.google.com/spreadsheets/d/1J-1KNHXmvY098fuCDWiOIm1fcphAgkXA8nnWqOSXouw/edit?gid=283092143#gid=283092143" target="_blank" >Bees and Watermelons</a> - Even more vetted fundraisers for Palestinians in need</li>
                <li><a href="https://disabilityvisibilityproject.com/2023/12/25/crips-for-esims-for-gaza/" target="_blank" >Crips for eSims for Gaza</a> - Easily donate money that goes towards buying eSims for Gazans</li>
                <li><a href="https://pcrf1.app.neoncrm.com/forms/2024-ramadan-campaign-1" target="_blank" >PCRF</a> - Donate directly to PCRF, this is their Ramadan Campaign</li>
                <li><a href="https://twitter.com/CareForGaza" target="_blank" >CareForGaza</a> - The Twitter page for the Care For Gaza non-profit charity that aims to help needy families in Palestine</li>
                <li><a href="https://piousprojects.org/discover?country=183" target="_blank" >Pious Projects Palestine</a> - A number of fundraiser initiatives you can donate to, providing needy families with everything between food and water, to medical supplies and specialized healthcare.</li>
                <li><a href="https://www.unrwa.org/" target="_blank" >UNRWA</a> - The official website for the UNRWA </li>
                <li><a href="https://bdsmovement.net/" target="_blank" >BDS Movement</a> - The official website for the Boycott, Divest, Sanction movement</li>
                <li><a href="https://decolonizepalestine.com/" target="_blank" >Decolonize Palestine</a> - Some starter material for decolonizing your beliefs on Palestine</li>
              </ul>
        </div>
    </div>
</section>
<section id="three">
    <div class="now">
        <h1>Currently...</h1>
        <div class="box" id="currently">
          {% include '../src/currently.html' %}
        </div>
    </div>
    <div class="journal">
        <h1>Recent blog posts</h1>
        <div class="box" id="blog">
            {% include '../src/blog/featured.html' %}
        </div>
    </div>
</section>
<section id="four">
    <h1>Webrings</h1>
    <div class="box" id="webring">
        <div class="results" style="width: 60%;background-color: #fff;color: #000;display: block;padding: 10px;border: 1px solid;margin: 0 auto;font-family: 'times';font-size: '15pt';">
            <p style="margin: 0">This page is protected by a</p>
            <p style="margin: 0;font-size: 20pt;font-weight: bold;">ZEBRA</p>
            <img class="image" style="max-width: 160px;border: 1px solid" alt="Zebra" src="img/home/zebra.jpg">
            <p class="description">The zebra's stripes are known to protect it from blood-sucking insects</p>
            <small>
            <a href="https://hekate.neocities.org" target="_blank" >Want your own? Visit hekate.neocities.org!</a>
            </small>
            </div>
            <br />
            <a target="_new" href="https://sephiria.com/gifts/claim.html"><img id="button" height="250" src="img/home/maudino.jpg" alt="Mega Audino EX"> <img id="button" height="250" src="img/home/blitzle.jpg" alt="Blitzle"> <img id="button" height="250" src="img/home/latiaslatios.jpg" alt="Latias Latios GX"></a><br>
            My TCG partner // <a target="_new" href="https://sephiria.com/gifts/claim.html"><b>Fates Collide</b> / M Audino EX, <b>Team Up</b> / Blitzle, <b>Team Up</b> / Latias & Latios</a><br />
            <img src="img/home/lps2608.png" id="pet" height="75px"><script data-widget="text" src="https://tohellwithit.nekoweb.org/lpsring/webstring.js"></script>
    </div>
</section>
<section id="five">
    <div class="cfl">
        <h1>Cliques & Fanlists</h1>
        <div class="box" id="cfl">
            <a href="https://cliqued.wings.nu/" target="_blank" >rock me</a> <img src="img/home/rockme.png" alt="Blue and red lightning bolt"> Clarence Clarity, Failure<br>
            <a href="https://cliqued.wings.nu/" target="_blank" >my jam!!</a> <img src="img/home/indigo.png" alt="Indigo-coloured jar of jam"> <a href="https://open.spotify.com/track/4UdZPdVhZMs77wKdi7U3Im?si=38b7b54a445a4eb5" target="_blank" >Bipolar Rainbows</a><br>
            <a href="https://cliqued.wings.nu/" target="_blank" ><font color="#FF0000">r</font><font color="#FF8000">a</font><font color="#FFFF00">i</font><font color="#008000">n</font><font color="#0000FF">b</font><font color="#8000FF">o</font><font color="#800080">w</font></a> &#x1F308; <span style="background-color: #ff66b3;color: #ffffff;">Light Pink</span>, <span style="background-color: #ffcc66;color: #1f1f1f;">Grandis</span><br>
            <a href="https://macaque.neocities.org/trickyfox/" target="_blank" >LINKED !</a> <img src="img/home/Y9qYZyq.png" alt="Golden chain"> Radar O'Reilly<br>
            <img src="img/home/7v5H0TL.png" alt="Left angel wing"> I am <a href="https://macaque.neocities.org/trickyfox/" target="_blank" > angelic ♥</a> <img src="img/home/uAEhywQ.png" alt="Right angel wing"><br>
            <a href="https://emocowboy.neocities.orgimages/home/cliques/pokemon" target="_blank" >favorite</a> <img src="https://i.imgur.com/sX9f0Yy.png" alt="Masterball from Pokemon>"> Mega Audino<br>
            <hr>
            <img id="button" src="img/home/fanlist/bats.png" alt="bats">
            <img id="button" src="img/home/fanlist/carebears.png" alt="Care Bears">
            <img id="button" src="img/home/fanlist/catskittens.png" alt="Cats & Kittens">
            <img id="button" src="img/home/fanlist/crayons.png" alt="Crayons">
            <img id="button" src="img/home/fanlist/hellokitty.gif" alt="Hello Kitty">
            <img id="button" src="img/home/fanlist/metal.png" alt="Metal music">
            <img id="button" src="img/home/fanlist/pompompurin.png" alt="Pompompurin">
            <img id="button" src="img/home/fanlist/rock.gif" alt="Rock music">
            <img id="button" src="img/home/fanlist/stuffedanimal.png" alt="Collecting stuffed animals">
            <img id="button" src="img/home/fanlist/tuxedosam.png" alt="Tuxedo Sam">
        </div>
    </div>
    <div class="journal">
        <h1>Site updates</h1>
        <div class="box" id="updates">
            {% include 'updates26.njk' %}
            {% include 'updates25.njk' %}
            <hr>
            <a href="updates" style="text-align:center;">Full updates archive</a>
        </div>
</section>